<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Catalogo</ion-title>
        <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
   
     <ion-card *ngFor="let objProducto of listaproductos">
      <div>
        <img [src]="servG.imagenUrl(objProducto.prod_imagen)" alt="">
      </div>
      <ion-card-header>
        <ion-card-title>{{objProducto.prod_nombre}}</ion-card-title>
        <ion-card-subtitle>CODIGO:{{objProducto.prod_codigo}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Precio:</strong>${{objProducto.prod_precio}}</p>
        <p><strong>Stock:</strong>${{objProducto.prod_stock}}</p>
      </ion-card-content>
    </ion-card>
    
  </ion-list>
</ion-content>
